@font-face {
  font-family: "Pow Grotesk";
  src: url("https://fonts.spike-studio.com/v1/fonts/webfonts/PowGrotesk-Variable.woff2") format("woff2");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}
